@use "assets/scss/_colors.scss";

.atoms-label {
  display: inline-block;
  color: var(--brand-color-dark-blue-900);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 6px;
}