@use "@/assets/scss/_tokens.scss" as *;

.layout {
  display: flex;
  min-height: 100vh;

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__content {
    flex: 1;
    padding: $spacing-lg;
    background: $color-gray-50;
  }
}
