.layout {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;

	&.extra-large {
		padding: 22px;
	}

	&.large {
		padding: 16px;
		width: 56px;
		height: 56px;
	}

	&.medium {
		padding: 14px;
		width: 48px;
		height: 48px;
	}

	&.small {
		padding: 11px;
	}

	&.extra-small {
		padding: 8px;
	}

	&.primary {
		color: var(--neutral-color-light-0);

		&.normal {
			background: var(--brand-color-primary-600);

			&:hover {
				background: var(--brand-color-primary-700);
			}

			&:focus {
				background: var(--brand-color-primary-800);
			}

			&.disabled {
				background: var(--neutral-color-light-900);
			}

			&.loading {
				background: var(--brand-color-primary-600);

				svg {
					animation-name: rotate;
					animation-duration: 0.7s;
					animation-iteration-count: 10;
				}

				@keyframes rotate {
					0% {
						transform: rotate(0);
					}
					100% {
						transform: rotate(360deg);
					}
				}
			}
		}

		&.destructive {
			background: var(--auxiliary-color-red-600);

			&:hover {
				background: var(--auxiliary-color-red-700);
			}

			&:focus {
				background: var(--auxiliary-color-red-800);
			}

			&:disabled {
				background: var(--neutral-color-light-900);
			}

			&.loading {
				background: var(--auxiliary-color-red-600);

				svg {
					animation: spin 1s linear infinite;
				}
			}
		}
	}

	&.secondary {
		&.normal {
			color: var(--brand-color-primary-600);
			background: var(--brand-color-primary-100);

			&:hover {
				background: var(--brand-color-primary-200);
			}

			&:focus {
				background: var(--brand-color-primary-300);
			}

			&.disabled {
				background: var(--neutral-color-light-100);
			}

			&.loading {
				background: var(--brand-color-primary-100);
			}
		}

		&.destructive {
			color: var(--auxiliary-color-red-600);
			background: var(--auxiliary-color-red-100);

			&:hover {
				background: var(--auxiliary-color-red-200);
			}

			&:focus {
				background: var(--auxiliary-color-red-300);
			}

			&:disabled {
				background: var(--neutral-color-light-100);
			}

			&.loading {
				background: var(--auxiliary-color-red-100);
			}
		}
	}

	&.outline {
		border-style: solid;
		border-width: 1.5px;

		&.normal {
			border-color: var(--neutral-color-light-900);
			color: var(--brand-color-primary-600);

			&:hover {
				border-color: var(--brand-color-primary-200);
				color: var(--brand-color-primary-600);
				background: var(--brand-color-primary-100);
			}

			&:focus {
				border-color: var(--brand-color-primary-300);
				color: var(--brand-color-primary-600);
				background: var(--brand-color-primary-200);
			}

			&.disabled {
				border-color: var(--neutral-color-light-900);
				color: var(--neutral-color-light-800);
				background: var(--neutral-color-light-100);
				cursor: not-allowed;
			}

			&.loading {
				border-color: var(--neutral-color-light-900);
			}
		}

		&.destructive {
			border-color: var(--neutral-color-light-900);
			color: var(--auxiliary-color-red-600);

			&:hover {
				border-color: var(--auxiliary-color-red-200);
				color: var(--auxiliary-color-red-600);
				background: var(--auxiliary-color-red-100);
			}

			&:focus {
				border-color: var(--auxiliary-color-red-300);
				color: var(--auxiliary-color-red-600);
				background: var(--auxiliary-color-red-200);
			}

			&:disabled {
				border-color: var(--neutral-color-light-900);
				color: var(--neutral-color-light-800);
				background: var(--neutral-color-light-100);
			}

			&.loading {
				border-color: var(--neutral-color-light-900);
			}
		}
	}

	&.only {
		font-weight: 500;

		&.normal {
			color: var(--neutral-color-light-500);

			&:hover {
				color: var(--brand-color-primary-600);
				background: var(--brand-color-primary-100);
			}

			&:focus {
				color: var(--brand-color-primary-600);
				background: var(--brand-color-primary-200);
			}

			&.disabled {
				color: var(--neutral-color-light-800);
			}

			&.loading {
				color: var(--neutral-color-light-500);
			}
		}

		&.destructive {
			color: var(--neutral-color-light-500);

			&:hover {
				color: var(--auxiliary-color-red-600);
				background: var(--auxiliary-color-red-100);
			}

			&:focus {
				color: var(--auxiliary-color-red-600);
				background: var(--auxiliary-color-red-200);
			}

			&:disabled {
				color: var(--neutral-color-light-800);
			}
		}
	}
}
