@use "@/assets/scss/_tokens.scss" as *;

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: $spacing-sm;
  font-family: $font-family-base;

  &__input {
    display: none;
  }

  &__control {
    width: 16px;
    height: 16px;
    border: 2px solid $greys-400;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background: $brand-colors-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s ease-in-out;
    }
  }

  &--checked &__control::after {
    transform: translate(-50%, -50%) scale(1);
  }

  &__label {
    font-size: 0.875rem;
    color: $greys-800;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
