:root {
	--brand-color-blue-900: #244791;
	--brand-color-blue-800: #2a53a9;
	--brand-color-blue-700: #415cc4;
	--brand-color-blue-600: #366ad9;
	--brand-color-blue-500: #3c76f1;
	--brand-color-blue-400: #6391f4;
	--brand-color-blue-300: #c5d6fb;
	--brand-color-blue-200: #d8e4fc;
	--brand-color-blue-100: #ecf1fe;

	--brand-color-dark-blue-900: #04112a;
	--brand-color-dark-blue-800: #06183a;
	--brand-color-dark-blue-700: #061b42;
	--brand-color-dark-blue-600: #071f4b;
	--brand-color-dark-blue-500: #082253;
	--brand-color-dark-blue-400: #213864;
	--brand-color-dark-blue-300: #394e75;
	--brand-color-dark-blue-200: #9ba6bc;
	--brand-color-dark-blue-100: #ced3dd;

	--brand-color-tiffany-900: #0a7c79;
	--brand-color-tiffany-800: #0b918d;
	--brand-color-tiffany-700: #0da6a1;
	--brand-color-tiffany-600: #0ebab5;
	--brand-color-tiffany-500: #10cfc9;
	--brand-color-tiffany-400: #40d9d4;
	--brand-color-tiffany-300: #58ddd9;
	--brand-color-tiffany-200: #cff5f4;
	--brand-color-tiffany-100: #e7fafa;

	--brand-color-orange-900: #53250e;
	--brand-color-orange-800: #823a16;
	--brand-color-orange-700: #a3491b;
	--brand-color-orange-600: #cc5b22;
	--brand-color-orange-500: #ff722a;
	--brand-color-orange-400: #ff9058;
	--brand-color-orange-300: #ffb995;
	--brand-color-orange-200: #ffe0cf;
	--brand-color-orange-100: #fff1ea;

	--danger-colors-700: #cc3333;
	--danger-colors-500: #ff4040;
	--danger-colors-100: #ff8c8c;

	--warning-colors-600: #e6a832;
	--warning-colors-500: #ffbb38;
	--warning-colors-100: #ffd688;

	--success-colors-600: #00b374;
	--success-colors-500: #00c781;
	--success-colors-100: #66ddb3;

	--greys-colors-800: #191919;
	--greys-colors-700: #323232;
	--greys-colors-600: #4b4b4b;
	--greys-colors-500: #969696;
	--greys-colors-400: #afafaf;
	--greys-colors-300: #c8c8c8;
	--greys-colors-200: #e1e1e1;
	--greys-colors-100: #fafafa;

	--black-color: #000000;
	--white: #ffffff;

	--background-primary-bg: #f5f8fa;
	--background-secundary-bg: #edf1f8;
	--background-tertiary: #f7f8fa;

	--opaticy-dark-05: rgba(0, 0, 0, 0.05);
	--opaticy-dark-10: rgba(0, 0, 0, 0.1);
	--opaticy-dark-20: rgba(0, 0, 0, 0.2);
	--opaticy-dark-40: rgba(0, 0, 0, 0.4);
	--opaticy-dark-80: rgba(0, 0, 0, 0.8);
}
