@use "colors";
* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
main {
	height: 100vh;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
.section {
	padding: 6rem 1rem;
}

.loading {
	.anim-loading {
		position: relative;
		pointer-events: none;
		overflow: hidden;
		border-color: transparent;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(
				45deg,
				var(--neutral-color-light-0) 25%,
				var(--neutral-color-light-400) 50%,
				var(--neutral-color-light-0) 75%
			);
			background-size: 300%;
			pointer-events: none;
			border-radius: 4px;
			z-index: 99;
			animation: loadingEffect 3s infinite;
		}
	}
}

img {
	image-rendering: optimizequality;
	image-rendering: -webkit-optimize-contrast;
}

input::placeholder {
	color: var(--brand-color-dark-blue-200);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}
