@use "assets/scss/form-reset-helpers";
@use "assets/scss/_typography";

@mixin flex($direction, $align, $justify, $gap: unset) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

.form-common {
	width: 100%;
	@include flex(column, flex-start, unset, 8px);

	.form-common__label {
		@extend .text-p5, .text-p5-medium;
		@include flex(row, center, space-between);
		width: 100%;
		display: flex;
		padding: 0;
		color: var(--brand-color-dark-blue-600);

		&--error {
			color: var(--danger-colors-700);
		}
		&--disabled {
			color: var(--greys-colors-300);
		}

		&--cta {
			@include flex(row, center, unset);
			a {
				@extend .text-p5, .text-p5-regular;
				color: var(--brand-color-blue-700);
			}
		}
	}

	.form-common__input {
		@include flex(row, center, unset, 1rem);
		width: 100%;
		border: 1px solid var(--brand-color-dark-blue-200);
		height: 56px;
		padding: 4px 4px 4px 16px;
		box-sizing: border-box;
		position: relative;
		border-radius: 4px;

		input::placeholder {
			@extend .text-p5, .text-p5-regular;
			color: var(--greys-colors-500);
		}

		&:focus-within {
			border: 1px solid var(--brand-color-dark-blue-200);
			transition: border 0.1s ease-in-out;
			caret-color: var(--greys-colors-500);

			input::placeholder {
				color: transparent;
				transition: color 0.2s ease-in-out;
			}
		}

		.form-common__content {
			display: flex;
			height: 36px;
			padding-right: 0;
			align-items: center;
			gap: 10px;
			flex: 1 0 0;

			input {
				@extend %form-reset-input;
				width: 100%;
				height: 36px;
				padding-right: 0;
			}
		}

		.form-common__info {
			display: flex;
			padding: 14px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			color: var(--brand-color-blue-700);
			cursor: pointer;
		}

		&.form-common__input--error {
			border: 1px solid var(--danger-colors-700);

			&:focus-within {
				border: 1px solid var(--danger-colors-700);
				transition: border 0.1s ease-in-out;
				caret-color: var(--danger-colors-700);

				input::placeholder {
					color: transparent;
					transition: color 0.2s ease-in-out;
				}
			}

			.form-common__info {
				.form-common__info--error {
					background-color: var(--danger-colors-700);
					display: flex;
					width: 10px;
					height: 10px;
					padding: 5px;
					justify-content: center;
					align-items: center;
					border-radius: 100px;
				}
			}
		}

		&.form-common__input--disabled {
			border: 1px solid var(--greys-colors-300);
			color: var(--greys-colors-300);
			cursor: not-allowed;

			.form-common__content {
				cursor: not-allowed;
				input {
					color: var(--greys-colors-300);
					cursor: not-allowed;
				}
				input::placeholder {
					color: var(--greys-colors-300);
				}
			}

			.form-common__info {
				color: var(--greys-colors-400);
				cursor: not-allowed;
			}
		}
	}
	.form-common__message {
		@include flex(row, flex-end, unset, 10px);
		align-self: stretch;
		color: var(--greys-colors-600);
		&--error {
			color: var(--danger-colors-700);
		}
		&--disabled {
			color: var(--greys-colors-300);
		}
	}
}
