@use "assets/scss/_colors.scss";

.atoms-tabs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid var(--greys-colors-200);
    padding-bottom: 8px;
  }

  &__content {
    display: block;
  }
}