@use "assets/scss/_elevation.scss";

.wrapper-selects-simple {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	position: relative;
	box-sizing: border-box;

	.selects-simple {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		box-sizing: border-box;
		border: 1px solid var(--neutral-color-light-50);
		border-radius: 4px;
		min-width: 80px;
		position: relative;
		background: var(--neutral-color-light-0);
		&--error {
			border-color: var(--auxiliary-color-red-600);
		}

		&__box-text {
			display: flex;
			padding: 16px;
			align-items: center;
			gap: 16px;
			align-self: stretch;
			cursor: pointer;
			height: 56px;
			border-radius: 4px;
			&--content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				flex: 1 0 0;

				&-label {
					display: flex;
					padding: 0 4px;
					align-items: center;
					position: absolute;
					background: var(--neutral-color-light-0);
					top: -10px;
				}
			}

			&--icon {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				cursor: pointer;
			}
		}

		&__message-text {
			display: flex;
			padding-top: 8px;
			align-items: flex-end;
			gap: 10px;
			align-self: stretch;
		}

		&.activated {
			border-color: var(--brand-color-primary-600);
		}

		&.disabled {
			border-color: var(--neutral-color-light-700);
			opacity: 0.3;
			cursor: not-allowed;

			.selects-simple__box-text {
				cursor: not-allowed;

				.selects-simple__box-text--icon {
					cursor: not-allowed;
				}
			}
		}
	}

	&__dropdown {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		position: absolute;
		width: 100%;
		background-color: var(--neutral-color-light-0);
		z-index: 5;
		top: 54px;
		overflow: scroll;
		max-height: 250px;
		@extend .elevation-bottom--level-2;
	}
}
