@use "assets/scss/_elevation.scss";

.wrapper-selects-simple {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	position: relative;
	box-sizing: border-box;

	.selects-simple {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		min-width: 80px;
    gap: 8px;

		&__box-text {
			display: flex;
			padding: 4px 4px 4px 0;
			align-items: center;
			gap: 16px;
			align-self: stretch;
			cursor: pointer;
			height: 56px;
      box-sizing: border-box;
      border: 1px solid var(--brand-color-dark-blue-200);
      border-radius: 4px;
      &--error {
        border-color: var(--danger-colors-700);
      }
			&--content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				flex: 1 0 0;
			}

			&--icon {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				cursor: pointer;
			}
		}

		&__message-text {
			display: flex;
			padding-top: 8px;
			align-items: flex-end;
			gap: 10px;
			align-self: stretch;
		}

		&.activated {
			border-color: var(--brand-color-blue-600);
		}

		&.disabled {
			border-color: var(--greys-colors-700);
			opacity: 0.3;
			cursor: not-allowed;

			.selects-simple__box-text {
				cursor: not-allowed;

				.selects-simple__box-text--icon {
					cursor: not-allowed;
				}
			}
		}
	}

	&__dropdown {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		position: absolute;
		width: 100%;
		background-color: var(--greys-colors-100);
		z-index: 5;
		top: 54px;
		overflow: scroll;
		max-height: 250px;
		@extend .elevation-bottom--level-2;
	}
}
