@use "@/assets/scss/_tokens.scss" as *;
@use "@/assets/scss/_typography.scss";

.link {
  @extend .text-p5, .text-p5-medium;
  font-family: "Montserrat", sans-serif;

  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;

  &.primary {
    color: $brand-color-blue-700;
    border-color: $brand-color-blue-700;

    &:hover {
      color: $brand-color-blue-800;
      border-color: $brand-color-blue-800;
    }
  }

  &.grey {
    color: $greys-colors-600;
    border-color: $greys-colors-600;

    &:hover {
      color: $greys-colors-800;
      border-color: $greys-colors-800;
    }
  }

  &.green {
    color: $succes-colors-600;
    border-color: $succes-colors-600;

    &:hover {
      color: $succes-colors-700;
      border-color: $succes-colors-700;
    }
  }

  &.disabled {
    color: $greys-colors-400;
    border-color: $greys-colors-400;
    cursor: not-allowed;
    pointer-events: none;
  }
}
