@use "assets/scss/form-reset-helpers";
@use "assets/scss/_typography";

@mixin flex($direction, $align, $justify, $gap: unset) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Remove setas no Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.input-common {
	width: 100%;
	@include flex(column, flex-start, unset, 8px);
	&__input {
		@include flex(row, center, unset, 1rem);
		width: 100%;
		border: 1px solid var(--brand-color-dark-blue-200);
		height: 56px;
		padding: 4px 4px 4px 16px;
		box-sizing: border-box;
		position: relative;
		border-radius: 4px;

		&.input-common__input--error {
			border: 1px solid var(--danger-colors-700);

			.input-common__label {
				color: var(--danger-colors-700);
			}

			&:focus-within {
				border: 1px solid var(--danger-colors-700);
				transition: border 0.1s ease-in-out;
				caret-color: var(--danger-colors-700);
			}

			.input-common__info {
				.input-common__info--error {
					background-color: var(--danger-colors-700);
					@include flex(row, center, center);
					width: 18px;
					height: 18px;
					padding: 2px;
					border-radius: 100px;
				}
			}
		}

		&.input-common__input--success {
			border: 1px solid var(--success-colors-600);

			.input-common__label {
				color: var(--success-colors-600);
			}

			&:focus-within {
				border: 1px solid var(--success-colors-600);
				transition: border 0.1s ease-in-out;
				caret-color: var(--success-colors-600);
			}

			.input-common__info {
				.input-common__info--success {
					background-color: var(--success-colors-600);
					@include flex(row, center, center);
					width: 18px;
					height: 18px;
					padding: 2px;
					border-radius: 100px;
				}
			}
		}

		&.input-common__input--disabled {
			border: 1px solid var(--greys-colors-300);
			color: var(--greys-colors-300);
			cursor: not-allowed;

			.input-common__content {
				cursor: not-allowed;

				input {
					color: var(--greys-colors-300);
					cursor: not-allowed;
				}

				input::placeholder {
					color: var(--greys-colors-300);
				}
			}

			.input-common__info {
				color: var(--greys-colors-800);

				.input-common__info--error {
					background-color: var(--greys-colors-800);
				}
			}
		}
	}
	&__label {
		@extend .text-p5, .text-p5-medium;
		@include flex(row, center, unset);
		display: flex;
		padding: 0;
		color: var(--brand-color-dark-blue-600);
	}
	&__label--error {
		color: var(--danger-colors-700);
	}
	&__label--success {
		color: var(--success-colors-600);
	}
	&__label--disabled {
		color: var(--greys-colors-300);
	}
	&__content {
		@include flex(row, center, unset, 10px);
		height: 36px;
		align-items: center;
		padding-right: 0;
		flex: 1 0 0;
		input {
			@extend %form-reset-input;
			width: 100%;
			height: 36px;
			padding-right: 0;
			@extend .text-p5, .text-p5-regular;
		}
	}
	&__info {
		@include flex(row, center, center, 10px);
		padding: 14px;
		color: var(--brand-color-blue-500);
	}
	&__message {
		@include flex(row, flex-end, unset, 10px);
		align-self: stretch;
		color: var(--greys- colors-600);
		&--error {
			color: var(--danger-colors-700);
		}
		&--success {
			color: var(--success-colors-600);
		}
		&--disabled {
			color: var(--greys-colors-300);
		}
	}
}
