@use "assets/scss/form-reset-helpers";
@use "assets/scss/_typography";

@mixin flex($direction, $align, $justify, $gap: unset) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

.input-common {
	width: 100%;
	@include flex(column, flex-start, unset);
	&__input {
		@include flex(row, center, unset, 1rem);
		width: 100%;
		border: 1px solid var(--neutral-color-light-50);
		height: 56px;
		padding: 4px 4px 4px 16px;
		box-sizing: border-box;
		position: relative;
		border-radius: 4px;

		&.input-common__input--error {
			border: 1px solid var(--auxiliary-color-red-600);

			.input-common__label {
				color: var(--auxiliary-color-red-600);
			}

			&:focus-within {
				border: 1px solid var(--auxiliary-color-red-600);
				transition: border 0.1s ease-in-out;
				caret-color: var(--auxiliary-color-red-600);

				input::placeholder {
					color: transparent;
					transition: color 0.2s ease-in-out;
				}

				.input-common__label {
					position: absolute;
					left: 12px;
					display: flex;
					transform: translateY(-140%);
				}
			}

			.input-common__info {
				.input-common__info--error {
					background-color: var(--auxiliary-color-red-600);
					@include flex(row, center, center);
					width: 18px;
					height: 18px;
					padding: 2px;
					border-radius: 100px;
				}
			}
		}

		&.input-common__input--success {
			border: 1px solid var(--auxiliary-color-green-600);

			.input-common__label {
				color: var(--auxiliary-color-green-600);
			}

			&:focus-within {
				border: 1px solid var(--auxiliary-color-green-600);
				transition: border 0.1s ease-in-out;
				caret-color: var(--auxiliary-color-green-600);

				input::placeholder {
					color: transparent;
					transition: color 0.2s ease-in-out;
				}

				.input-common__label {
					position: absolute;
					left: 12px;
					display: flex;
					transform: translateY(-140%);
				}
			}

			.input-common__info {
				.input-common__info--success {
					background-color: var(--auxiliary-color-green-600);
					@include flex(row, center, center);
					width: 18px;
					height: 18px;
					padding: 2px;
					border-radius: 100px;
				}
			}
		}

		&.input-common__input--disabled {
			border: 1px solid var(--neutral-color-light-700);
			color: var(--neutral-color-light-700);
			cursor: not-allowed;

			.input-common__label {
				color: var(--neutral-color-light-600);
			}

			.input-common__content {
				cursor: not-allowed;

				input {
					color: var(--neutral-color-light-600);
					cursor: not-allowed;
				}

				input::placeholder {
					color: var(--neutral-color-light-700);
				}
			}

			.input-common__info {
				color: var(--neutral-color-light-900);

				.input-common__info--error {
					background-color: var(--neutral-color-light-900);
				}
			}
		}
	}
	&__label {
		@extend .text-p6, .text-p6-medium;
		@include flex(row, center, unset);
		display: none;
		padding: 0 4px;
		color: var(--neutral-color-light-500);
		&--light {
			background: var(--neutral-color-light-0);
		}
		&--active {
			display: flex;
			position: absolute;
			left: 12px;
			transform: translateY(-140%);
		}
		input::placeholder {
			@extend .text-p5, .text-p5-regular;
			color: var(--neutral-color-light-500);
		}
		&:focus-within {
			border: 1px solid var(--brand-color-primary-600);
			transition: border 0.1s ease-in-out;
			caret-color: var(--brand-color-primary-600);

			input::placeholder {
				color: transparent;
				transition: color 0.2s ease-in-out;
			}
			.input-common__label {
				position: absolute;
				left: 12px;
				display: flex;
				color: var(--brand-color-primary-600);
				transform: translateY(-140%);
			}
		}
	}
	&__content {
		@include flex(row, center, unset, 10px);
		height: 36px;
		align-items: center;
		padding-right: 0;
		flex: 1 0 0;
		input {
			@extend %form-reset-input;
			width: 100%;
			height: 36px;
			padding-right: 0;
			@extend .text-p5, .text-p5-regular;
		}
	}
	&__info {
		@include flex(row, center, center, 10px);
		padding: 14px;
		color: var(--neutral-color-light-500);
	}
	&__message {
		@include flex(row, flex-end, unset, 10px);
		padding-top: 8px;
		align-self: stretch;
		color: var(--neutral-color-light-400);
		&--error {
			color: var(--auxiliary-color-red-600);
		}
		&--success {
			color: var(--auxiliary-color-green-600);
		}
		&--disabled {
			color: var(--neutral-color-light-700);
		}
	}
}
