.wrapper-dropdown-item {
	display: flex;
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
	align-items: center;
	gap: 16px;
  background-color: var(--write);

	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&.default {
		color: var(--greys-colors-400);
	}

	&:hover {
		background: var(--brand-color-dark-blue-100);
		color: var(--brand-color-dark-blue-600);
		cursor: pointer;
	}

	&.activated {
		background: var(--brand-color-dark-blue-100);
		color: var(--brand-color-dark-blue-600);
		border-radius: 4px;
	}

	&.disabled {
		color: var(--greys-colors-800);
		cursor: not-allowed;
	}
}
