@use "@/assets/scss/_tokens.scss" as *;

.dropdown-item {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  padding: $spacing-sm $spacing-md;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $greys-100;
  }

  &__icon {
    color: $greys-400;
  }

  &__label {
    color: $greys-800;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background: none;
    }
  }
}
