@use "/assets/scss/mixins" as *;
.sidebar {
	@include flex(column, unset, unset, 0);
	min-width: 290px;
	&__logo {
		height: 82px;
		@include flex(row, unset, center, 0);
		padding: 32px;
	}
	&__config {
		position: fixed;
		bottom: 0;
		width: 290px;
		border-top: 1px solid var(--brand-color-dark-blue-100);
		padding: 1rem 0;
    background: var(--white);
	}
}
